{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "particle",
          "rotate" : true,
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/ember1/ember1.animation",
            "approach" : [25, 25],
            "position" : [-1, 0],
            "initialVelocity" : [-25, 0],
            "finalVelocity" : [0, 0],
            "timeToLive" : 0.6,
            "variance" : {
              "timeToLive" : 0.15,
              "initialVelocity" : [15, 15],
              "position" : [0.5, 0.5],
              "rotation" : 180
            }
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "particle",
          "rotate" : true,
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/smallflame/smallflame.animation",
            "approach" : [25, 25],
            "initialVelocity" : [-25, 0],
            "position" : [-1, 0],
            "finalVelocity" : [0, 0],
            "timeToLive" : 1.5,
            "variance" : {
              "initialVelocity" : [5, 5],
              "position" : [0.5, 0.5],
              "timeToLive" : 0.5
            }
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_fire1.ogg", "/sfx/gun/grenadeblast_fire2.ogg", "/sfx/gun/grenadeblast_fire3.ogg" ]
    }
  ]
}