{
  "action" : "projectile",
  "type" : "orbitalup",
  "inheritDamageFactor" : 1,
  "config" : {
    "timeToLive" : 0,
    "speed" : 0,
    "actionOnReap" : [
      {
        "action" : "config",
        "file" : "/projectiles/explosions/v-fusionexplosionlarge/v-fusionexplosionlarge.config"
      }
    ]
  }
}
