{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "angleAdjust" : 180,
      "config" : {
        "speed" : 10,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "angleAdjust" : 180,
      "config" : {
        "speed" : 20,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "angleAdjust" : 180,
      "config" : {
        "speed" : 30,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "angleAdjust" : 180,
      "config" : {
        "speed" : 40,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "angleAdjust" : 180,
      "config" : {
        "speed" : 50,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "config" : {
        "speed" : 10,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "config" : {
        "speed" : 20,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "config" : {
        "speed" : 30,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "config" : {
        "speed" : 40,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    },
    {
      "action" : "projectile",
      "type" : "v-giantpoisoncloudghost",
      "inheritDamageFactor" : 1.0,
      "config" : {
        "speed" : 50,
        "damageRepeatGroup" : "v-giantpoisoncloudline"
      }
    }
  ]
}