[
  {
    "name" : "TerraLib",
    "checkType" : "lua",
    "checkFile" : "/scripts/terra_wormbody.lua",
    "popupConfig" : "/interface/scripted/v-missingdependency/v-terralib.config",
    "popupInterval" : 1
  },
  {
    "name" : "Quickbar",
    "checkType" : "json",
    "checkFile" : "/quickbar/icons.json",
    "popupConfig" : "/interface/scripted/v-missingdependency/v-quickbar.config",
    "popupInterval" : 86400
  },
  {
    "name" : "tileBroken Workaround",
    "checkType" : "json",
    "checkFile" : "/tbworkaround_relays.config",
    "popupConfig" : "/interface/scripted/v-missingdependency/v-tbworkaround.config",
    "popupInterval" : 1
  }
]