{
  "meters" : {
    "v-depthpoison" : {
      "class" : "VDepthPoisonMeter",
      "config" : {
        "baseLayerImage" : "/interface/v-depthpoisonmeter/base.png",
        "fillLayerImage" : "/interface/v-depthpoisonmeter/fill.png",
        "flashLayerImage" : "/interface/v-depthpoisonmeter/flash.png",
        "warningLayerImage" : "/interface/v-depthpoisonmeter/warning.png",
        "shimmerLayerImage" : "/interface/v-depthpoisonmeter/shimmer.png",

        "warningPulseTime" : 5.0,
        "flashTime" : 0.25,
        "shimmerFrameCount" : 16,
        "warningThreshold" : 0.75
      }
    },
    "v-freezing" : {
      "class" : "VFreezingMeter",
      "config" : {
        "baseLayerImage" : "/interface/v-freezingmeter/base.png",
        "fillLayerImage" : "/interface/v-freezingmeter/fill.png",
        "warningLayerImage" : "/interface/v-freezingmeter/warning.png",

        "warningPulseTime" : 2.0,
        "warningThreshold" : 0.75
      }
    }
  },

  "meterSpacing" : 2.25,
  "meterYOffset" : 5
}