{
  "meters" : {
    "v-depthpoison" : {
      "class" : "VDepthPoisonMeter",
      "config" : {
        "baseLayer" : {
          "image" : "/interface/v-depthpoisonmeter/base.png",
          "zLevel" : 0
        },
        "fillLayer" : {
          "image" : "/interface/v-depthpoisonmeter/fill.png",
          "zLevel" : 10
        },
        "flashLayer" : {
          "image" : "/interface/v-depthpoisonmeter/flash.png",
          "zLevel" : 20
        },
        "warningLayer" : {
          "image" : "/interface/v-depthpoisonmeter/warning.png",
          "zLevel" : 30
        },
        "shimmerLayer" : {
          "image" : "/interface/v-depthpoisonmeter/shimmer.png",
          "zLevel" : 40
        },

        "warningPulseTime" : 5.0,
        "flashTime" : 0.25,
        "shimmerFrameCount" : 16,
        "warningThreshold" : 0.75
      }
    },
    "v-freezing" : {
      "class" : "VFreezingMeter",
      "config" : {
        "baseLayer" : {
          "image" : "/interface/v-freezingmeter/base.png",
          "zLevel" : 0
        },
        "fillLayer" : {
          "image" : "/interface/v-freezingmeter/fill.png",
          "zLevel" : 10
        },
        "warningLayer" : {
          "image" : "/interface/v-freezingmeter/warning.png",
          "zLevel" : 20
        },
        "shimmerLayer" : {
          "image" : "/interface/v-freezingmeter/shimmer.png",
          "zLevel" : 30
        },
        "warmthLayer" : {
          "image" : "/interface/v-freezingmeter/warmth.png",
          "zLevel" : 5
        },
        "frozenLayer" : {
          "image" : "/interface/v-freezingmeter/frozen.png",
          "zLevel" : 7,
          "offset" : [0, -0.375]
        },

        "warningPulseTime" : 2.0,
        "warningThreshold" : 0.75,
        "shimmerFrameCount" : 16,

        "warmthFrameCount" : 4,
        "warmthCycleTime" : 0.4,

        "frozenFrameCount" : 3,
        "frozenCycleTime" : 0.3
      }
    }
  },

  "meterSpacing" : 2.25,
  "meterYOffset" : 5
}