{
  "matModScripts" : {
    // one script, both functions defined
    // "iron" : "/scripts/v-matproperties/testscripts/test1.lua"
    
    // two scripts, both functions defined
    // "iron" : "/scripts/v-matproperties/testscripts/test1.lua",
    // "gold" : "/scripts/v-matproperties/testscripts/test2.lua"
    
    // one script, update function defined and destroy function undefined
    // "iron" : "/scripts/v-matproperties/testscripts/test3.lua"
    
    // one script, destroy function defined and update function undefined
    // "iron" : "/scripts/v-matproperties/testscripts/test4.lua"
    
    // two scripts, one with the destroy function undefined
    // "iron" : "/scripts/v-matproperties/testscripts/test1.lua",
    // "gold" : "/scripts/v-matproperties/testscripts/test3.lua"
    
    // one script without the ModProperty variable
    // "iron" : "/scripts/v-matproperties/testscripts/test5.lua"
    
    // one script with the supposed ModProperty variable incorrectly named
    // "iron" : "/scripts/v-matproperties/testscripts/test6.lua"
    
    // one script that contains a syntax error
    // "iron" : "/scripts/v-matproperties/testscripts/test7.lua"
    
    // one script that contains a runtime error
    // "iron" : "/scripts/v-matproperties/testscripts/test8.lua"
    
    // two scripts, one contains a syntax error
    // "iron" : "/scripts/v-matproperties/testscripts/test1.lua",
    // "gold" : "/scripts/v-matproperties/testscripts/test7.lua"
    
    // two scripts, one contains a runtime error
    // "iron" : "/scripts/v-matproperties/testscripts/test1.lua",
    // "gold" : "/scripts/v-matproperties/testscripts/test8.lua"

    // twenty scripts, some with both functions, others with one function, and others still with no ModProperty
    // "aegisalt" : "/scripts/v-matproperties/testscripts/test9a.lua",
    // "aliengrass" : "/scripts/v-matproperties/testscripts/test9b.lua",
    // "alpinegrass" : "/scripts/v-matproperties/testscripts/test9c.lua",
    // "aridgrass" : "/scripts/v-matproperties/testscripts/test9d.lua",
    // "ash" : "/scripts/v-matproperties/testscripts/test9e.lua",
    // "blackash" : "/scripts/v-matproperties/testscripts/test9f.lua",
    // "bone" : "/scripts/v-matproperties/testscripts/test9g.lua",
    // "ceilingslimegrass" : "/scripts/v-matproperties/testscripts/test9h.lua",
    // "ceilingsnow" : "/scripts/v-matproperties/testscripts/test9i.lua",
    // "charredgrass" : "/scripts/v-matproperties/testscripts/test9j.lua",
    // "coal" : "/scripts/v-matproperties/testscripts/test9k.lua",
    // "colourfulgrass" : "/scripts/v-matproperties/testscripts/test9l.lua",
    // "copper" : "/scripts/v-matproperties/testscripts/test9m.lua",
    // "corefragment" : "/scripts/v-matproperties/testscripts/test9n.lua",
    // "crystal" : "/scripts/v-matproperties/testscripts/test9o.lua",
    // "crystalgrass" : "/scripts/v-matproperties/testscripts/test9p.lua",
    // "diamond" : "/scripts/v-matproperties/testscripts/test9q.lua",
    // "durasteel" : "/scripts/v-matproperties/testscripts/test9r.lua",
    // "erchius" : "/scripts/v-matproperties/testscripts/test9s.lua",
    // "ferozium" : "/scripts/v-matproperties/testscripts/test9t.lua"
    
    // real script :tm:
    "v-voltite" : "/scripts/v-matproperties/matmodscripts/v-voltite.lua",
    "v-toxikite" : "/scripts/v-matproperties/matmodscripts/v-toxikite.lua"
  }
}