{
  "conductiveMaterials" : [
    // VANILLA MATERIALS
    "apexshipdetails",
    "apexshipsupport",
    "apexshipwall",
    "bars",
    "chain",
    "composite01",
    "copperblock",
    "copperfence",
    "copperroofing",
    "copperwindow",
    "girder",
    "goldblock",
    "heavyironbars",
    "heavypipe",
    "ironblock",
    "junktech",
    "lightmetal",
    "lunarbaseblock",
    "mediummetal",
    "metallic",
    "outpostsupport",
    "plate",
    "platinumblock",
    "rustyblock",
    "rustymetal",
    "sewerpipe",
    "silverblock",
    "silverscrew",
    "slopedhullpanel",
    "slopedinsetpanel",
    "slopedrustypanel",
    "slopedscrappanel",
    "smoothmetal",
    "techhull1",
    "treasurehoard",

    // VANILLA PLATFORMS
    "apexshipplatform",
    "copperplatform",
    "goldenplatform",
    "lunarbaseplatform",
    "modernplatform",
    "silverplatform",
    "tungstenplatform",
    "wreckplatform",

    // VOIDED
    "v-copperrock",
    "v-coppersand",
    "v-chargedstone",
    "v-deepcopperrock",
    "v-ironrock",
    "v-rustedironrock",
    "v-oxidizedcoppersand",
    "v-oxidizedcopperrock",
    "v-bigwire",

    "metamaterial:v-doorconductive"
  ],
  "conductiveMatMods" : [
    // VANILLA
    "copper",
    "gold",
    "iron",
    "metal",
    "silver",
    "titanium",
    "tungsten",

    // VOIDED
    "v-copperpowder",
    "v-copperpowder2",
    "v-voltite"
  ]
}