{
  "checkMinX" : -100,
  "checkMaxX" : 100,
  "checkMinY" : -100,
  "checkMaxY" : 100,
  "sunLiquidId" : 218,
  "maxPenetration" : 40,

  "entityHeightMapCleanUpInterval" : 5,

  "nonOceanMaxReach" : 100,
  "surfaceProcessingLimit" : 375,
  "liquidSurfacePointsCleanUpInterval" : 5,
  "liquidScannerThreshold" : 0.75,
  "liquidScannerRefreshInterval" : 5,

  "solarFlaresCleanUpInterval" : 60,
  "maxSolarFlares" : 5,

  "unmeltableMaterials" : [ "v-sunspotstone", "rock14", "v-sunspotglass", "v-sunspotbrick1", "v-sunspotbrick2",
    "v-sunspotbrick3", "v-sunspotplatform", "v-sunspotpillar", "v-stonysoil",
    "metamaterial:biome", "metamaterial:biome1", "metamaterial:biome2", "metamaterial:biome3", "metamaterial:biome4",
    "metamaterial:biome5", "metamaterial:boundary" ],
  "defaultTolerance" : 20,
  "fallingTileDefaultTolerance" : 3,
  "inferredTileConfigs" : {
    "/sfx/blocks/footstep_rock.ogg" : {
      "tolerance" : 20,
      "toleranceOffset" : 30.0,
      "liquidConversion" : 2
    },
    "/sfx/blocks/footstep_stone.ogg" : {
      "tolerance" : 20,
      "toleranceOffset" : 30.0,
      "liquidConversion" : 2
    },
    "/sfx/blocks/footstep_stone2.ogg" : {
      "tolerance" : 20,
      "toleranceOffset" : 30.0,
      "liquidConversion" : 2
    },
    "/sfx/blocks/footstep_stone3.ogg" : {
      "tolerance" : 20,
      "toleranceOffset" : 30.0,
      "liquidConversion" : 2
    },
    "/sfx/blocks/footstep_composite.ogg" : {
      "toleranceOffset" : 20.0
    },
    "/sfx/blocks/footstep_lightmetal.ogg" : {
      "toleranceOffset" : 20.0
    },
    "/sfx/blocks/footstep_girder.ogg" : {
      "toleranceOffset" : 20.0
    },
    "/sfx/blocks/footstep_metallic.ogg" : {
      "toleranceOffset" : 20.0
    },
    "/sfx/blocks/footstep_crystal.ogg" : {
      "toleranceOffset" : 20.0
    },
    "/sfx/blocks/footstep_ice.ogg" : {
      "toleranceOffset" : 10.0
    },
    "/sfx/blocks/footstep_snow.ogg" : {
      "toleranceOffset" : 10.0
    },
    "/sfx/blocks/footstep_slush.ogg" : {
      "toleranceOffset" : 10.0
    },
    "/sfx/blocks/footstep_wood.ogg" : {
      "tolerance" : 10
    },
    "/sfx/blocks/footstep_lightwood.ogg" : {
      "tolerance" : 10
    }
  },
  "tileConfigs" : {
    "v-chargedstone" : {
      "tolerance" : 30,
      "liquidConversion" : 91
    }
  }
}