{
  "allowedWorldTypes" : ["v-voltage", "v-toxicwasteland", "v-ministar", "v-entropic"],
  "spawnCooldown" : 3600,
  "minPlanetStayTime" : 1800,
  "noCoordsModeParameters" : {
    "spawnAttemptInterval" : 30,
    "spawnProbability" : 1.0
  },
  "coordsModeParameters" : {
    "numEventsPerOrbit" : 6
  },
  "referenceRiftZoneCount" : 100,
  "referenceWorldSize" : [6000, 4000],
  "defaultTimeToLive" : 90,
  "relocationProbability" : 0.90,
  "defaultZoneRadius" : 35,
  "defaultTileSofteningRadius" : 80,
  "defaultZoneVelocity" : [-5, 0],
  "lightningTriggerRange" : 300,
  "lightningOffsetRegion" : [-100, -100, 100, 100],
  "lightningStrikeProbability" : 0.1,

  "visibleOre" : "v-nulliumvisible",
  "invisibleOre" : "v-nulliuminvisible"
}