{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "v-ancientlaserexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/v_ancientlaserexplosion.ogg", "/sfx/projectiles/v_ancientlaserexplosion2.ogg",
      "/sfx/projectiles/v_ancientlaserexplosion3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
