{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "v-ancientlaserexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/v_ancientlaserexplosion.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
