{
  "action" : "actions",
  "list" : [
    {
      "action" : "config",
      "file" : "/projectiles/explosions/regularexplosion2/electricexplosionknockback.config"
    },
    {
      "action" : "projectile",
      "type" : "v-lightningbolt",
      "inheritDamageFactor" : 1,
      "direction" : [1, 0]
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/particles/images/v-whiteflash.png",
        "position" : [0, 0],
        "fade" : 1,
        "destructionAction" : "fade",
        "destructionTime" : 0.25,
        "timeToLive" : 0.0,
        "fullbright" : true,
        "layer" : "front"
      }
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/particles/images/v-lightningbolt.png",
        "position" : [0, 0],
        "fade" : 1,
        "destructionAction" : "fade",
        "destructionTime" : 0.75,
        "timeToLive" : 0.25,
        "fullbright" : true,
        "layer" : "middle"
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weather/v_lightning_strike.ogg", "/sfx/weather/v_lightning_strike2.ogg", "/sfx/npc/boss/guardian_death_explosion.ogg" ]
    }
  ]
}
