{
  "action" : "actions",
  "list" : [
    {
      "action" : "config",
      "file" : "/projectiles/explosions/regularexplosion2/electricexplosionknockback.config"
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/particles/images/v-whiteflash.png",
        "position" : [0, 0],
        "fade" : 1,
        "destructionAction" : "fade",
        "destructionTime" : 0.25,
        "timeToLive" : 0.0,
        "fullbright" : true,
        "layer" : "front"
      }
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/particles/images/v-lightningbolt.png",
        "position" : [0, 0],
        "fade" : 1,
        "destructionAction" : "fade",
        "destructionTime" : 0.75,
        "timeToLive" : 0.25,
        "fullbright" : true,
        "layer" : "middle"
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/weather/v_lightning_strike.ogg" ]
    } /* ,
    {
      "action" : "spawnmonster",
      "type" : "v-shockwave",
      "level" : 8,
      "offset" : [0, -1],
      "arguments" : {
        "maxArea" : 1000,
        "damage" : 1000,
        "projectileParameters" : {
          "damageTeam" : {"type" : "indiscriminate"}
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "invisibleprojectile",
      "inheritDamageFactor" : 1,
      "offset" : [0, 40],
      "direction" : [1, 0],
      "config" : {
        "movementSettings" : {
          "collisionEnabled" : false
        },
        "onlyHitTerrain" : true,
        "speed" : 100,
        "periodicActions" : [
          {
            "time" : 0.01,
            "action" : "projectile",
            "type" : "invisibleprojectile",
            "inheritDamageFactor" : 1,
            "direction" : [0, -1],
            "config" : {
              "onlyHitTerrain" : true,
              "timeToLive" : 5.0,
              "speed" : 800,
              "actionOnReap" : [
                {
                  "action" : "projectile",
                  "type" : "electricshockwave",
                  "inheritDamageFactor" : 1,
                  "offset" : [0, 1],
                  "direction" : [1, 0],
                  "config" : {
                    "speed" : 0
                  }
                }
              ]
            }
          }
        ]
      }
    },
    {
      "action" : "projectile",
      "type" : "invisibleprojectile",
      "inheritDamageFactor" : 1,
      "offset" : [0, 40],
      "direction" : [-1, 0],
      "config" : {
        "movementSettings" : {
          "collisionEnabled" : false
        },
        "onlyHitTerrain" : true,
        "speed" : 100,
        "periodicActions" : [
          {
            "time" : 0.01,
            "action" : "projectile",
            "type" : "invisibleprojectile",
            "inheritDamageFactor" : 1,
            "direction" : [0, -1],
            "config" : {
              "onlyHitTerrain" : true,
              "timeToLive" : 5.0,
              "speed" : 800,
              "actionOnReap" : [
                {
                  "action" : "projectile",
                  "type" : "electricshockwave",
                  "inheritDamageFactor" : 1,
                  "direction" : [1, 0],
                  "offset" : [0, 1],
                  "config" : {
                    "speed" : 0
                  }
                }
              ]
            }
          }
        ]
      }
    } */
  ]
}
