{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "v-centipededeathexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/boss/v_centipede_deathexplosion.ogg" ]
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "startColor" : [255, 255, 255, 255],
            "endColor" : [74, 74, 181, 0],
            "duration" : 0.25,
            "fullbright" : true
          },
          "onScreenOnly" : true
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "startColor" : [255, 255, 255, 255],
            "endColor" : [72, 131, 47, 0],
            "duration" : 0.25,
            "fullbright" : true
          },
          "onScreenOnly" : true
        }
      }
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/particles/images/v-whiteflash.png",
        "position" : [0, 0],
        "fade" : 1,
        "destructionAction" : "fade",
        "destructionTime" : 0.25,
        "timeToLive" : 0.0,
        "fullbright" : true,
        "layer" : "front"
      }
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/v-electrochemgas/v-electrochemgas.animation",
            "timeToLive" : 4,
            "position" : [0, 0],
            "layer" : "middle",
            "variance" : {
              "position" : [2, 2]
            }
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/v-electrochemgas/v-electrochemgasfast.animation",
            "timeToLive" : 4,
            "position" : [0, 0],
            "layer" : "middle",
            "variance" : {
              "position" : [2, 2],
              "initialVelocity" : [50, 50]
            }
          }
        }
      ]
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "animated",
        "animation" : "/animations/v-electrochemfireball/v-electrochemfireball.animation",
        "timeToLive" : 0,
        "destructionAction" : "fade",
        "destructionTime" : 2,
        "position" : [0, 0],
        "layer" : "middle",
        "fullbright" : true,
        "light" : [169, 177, 160],
        "fade" : 0.5
      }
    }
  ]
}
