{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/cockpit/consoleheader.png",
      "fileBody" : "/interface/cockpit/consolebody.png"
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 1, 395, 320],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [378, 328]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Site Analysis",
      "subtitle" : "^#b9b5b2; See where you're going",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/cockpit/cockpit.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },

    "destinfo" : {
      "type" : "layout",
      "layoutType" : "basic",
      "size" : [128, 212],
      "zlevel" : 5,
      "children" : {
        "background" : {
          "type" : "imageStretch",
          "zlevel" : 5,
          "size" : [128, 212], // Height is header + footer, body height is added dynamically
          "direction" : "vertical",
          "stretchSet" : {
            "type" : "repeat",
            "end" : "/interface/scripted/v-fancywarpgui/destinfoheader.png",
            "inner" : "/interface/scripted/v-fancywarpgui/destinfobody.png",
            "begin" : "/interface/scripted/v-fancywarpgui/destinfofooter.png"
          }
        },
        "inner" : {
          "type" : "layout",
          "layoutType" : "basic",
          "size" : [126, 202],
          "position" : [2, 5],
          "zlevel" : 10,
          "children" : {
            "name" : {
              "type" : "label",
              "zlevel" : 10,
              "fontSize" : 11,
              "hAnchor" : "mid",
              "position" : [64, 187],
              "value" : "DESTINATION NAME"
            },
            "subtitle" : {
              "type" : "label",
              "zlevel" : 10,
              "fontSize" : 8,
              "hAnchor" : "mid",
              "position" : [64, 176],
              // "color" : [138, 216, 127],
              "color" : [255, 255, 255, 127],
              "value" : "DESTINATION SUBTITLE"
            },
            "description" : {
              "type" : "label",
              "zlevel" : 10,
              "position" : [4, 172],
              "vAnchor" : "top",
              "wrapWidth" : 118,
              "value" : "DESCRIPTION OF THIS PLANET"
            },
            "threatLabel" : {
              "type" : "label",
              "zlevel" : 10,
              "position" : [4, 100],
              "vAnchor" : "bottom",
              "wrapWidth" : 118,
              "value" : "Threat: "
            },
            "threatValue" : {
              "type" : "label",
              "zlevel" : 10,
              "position" : [35, 100],
              "vAnchor" : "bottom",
              "wrapWidth" : 118,
              "value" : "dangerous"
            },
            "bossFight" : {
              "type" : "label",
              "zlevel" : 10,
              "vAnchor" : "top",
              "position" : [14, 96],
              "value" : "BOSS FIGHT"
            },
            "previewImage" : {
              "type" : "image",
              "file" : "",
              "position" : [0, 16],
              "zlevel" : -1
            },
            "teleport" : {
              "type" : "button",
              "callback" : "teleportToDestination",
              "size" : [124, 14],
              "position" : [0, 1],
              "pressedOffset" : [0, 0],
              "fontColor" : [23, 178, 0],
              "caption" : "TELEPORT",
              "base" : "/interface/cockpit/clusterinfobutton.png:active",
              "hover" : "/interface/cockpit/clusterinfobutton.png:hover",
              "pressed" : "/interface/cockpit/clusterinfobutton.png:active",
              "zlevel" : -1
            }
          }
        }
      }
    }
  },

  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
    "teleportToDestination"
  ],

  "scripts" : [ "/interface/scripted/v-fancywarpgui/v-fancywarpgui.lua" ],
  "scriptDelta" : 1,

  "renderSettings" : {
    "backgroundScale" : 1.75,

    "selectMarkerAnimation": {
      "image" : "/interface/cockpit/reticle.png:%s",
      "cycle": 0.1,
      "frames": 5
    },

    "windowBorderMargin": 50,

    "destInfo": {
      "expandTime": 0.1,
      "offset": [50, 0],
      "minOffset": 10
    },

    "backgrounds" : [
      "/interface/cockpit/nebula1.png",
      "/interface/cockpit/bgstars.png"
    ],
    "backgroundSize" : [1024, 1024],
    "backgroundColor" : [175, 175, 175],

    "hoverImage" : "/interface/cockpit/reticle.png:1",
    "destinationMarkerColor" : [0, 255, 0]
  },

  "sounds" : {
    "open" : "/sfx/interface/nav_computer_on.ogg",
    "hover" : "/sfx/interface/starving1.ogg",
    "select" : "/sfx/interface/nav_examine_on.ogg",
    "deselect" : "/sfx/interface/nav_examine_off.ogg"
  },

  "destinationSettings" : {
    "mapObject" : {
      "image" : "/interface/scripted/v-fancywarpgui/v-electrotoxicfacility/mapimage.png",
      "position" : [125, 100],
      "scale" : 1.0,
      "selectRadius" : 24
    },
    "otherDrawables" : [
      {
        "image" : "/celestial/system/yellowstar.png",
        "position" : [275, 162],
        "scale" : 0.1
      },
      {
        "image" : "/interface/scripted/v-fancywarpgui/v-electrotoxicfacility/orbitlinesfront.png",
        "position" : [197.5, 160],
        "scale" : 1.0,
        "zLevel" : 1
      },
      {
        "image" : "/interface/scripted/v-fancywarpgui/v-electrotoxicfacility/orbitlinesmid.png",
        "position" : [197.5, 160],
        "scale" : 1.0,
        "zLevel" : -1
      },
      {
        "image" : "/interface/scripted/v-fancywarpgui/v-electrotoxicfacility/asteroids.png",
        "position" : [197.5, 203],
        "scale" : 1.0,
        "zLevel" : 2
      },
      {
        "image" : "/interface/scripted/v-fancywarpgui/v-electrotoxicfacility/asteroidsback.png",
        "position" : [197.5, 203],
        "scale" : 1.0,
        "zLevel" : -3
      },
      {
        "image" : "/interface/scripted/v-fancywarpgui/v-electrotoxicfacility/orbitlinesback.png",
        "position" : [197.5, 160],
        "scale" : 1.0,
        "zLevel" : -4
      }
    ],
    "previewImage" : "/interface/scripted/v-fancywarpgui/v-electrotoxicfacility/preview.png",
    "title" : "ELECTROCHEM FACILITY",
    "subtitle" : "Site of Project 100-LG",
    "description" : "This is the production site of the experimental ^green;Electrochem Flux Core^reset;, a highly energetic object powering an automaton named ^orange;100-LG^reset;.",
    "threatLevel" : "9 (Nightmare)",
    "threatLevelColor" : [159, 0, 0],
    "warpLocation" : "instanceworld:v-electrotoxicfacility"
  }
}
