{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "projectile",
              "type" : "v-urchinspike",
              "fuzzAngle" : 180,
              "inheritDamageFactor" : 0.25,
              "config" : {
                "speed" : 15
              }
            },
            {
              "action" : "projectile",
              "type" : "v-urchinspike",
              "fuzzAngle" : 180,
              "inheritDamageFactor" : 0.25,
              "config" : {
                "speed" : 17
              }
            },
            {
              "action" : "projectile",
              "type" : "v-urchinspike",
              "fuzzAngle" : 180,
              "inheritDamageFactor" : 0.25,
              "config" : {
                "speed" : 20
              }
            },
            {
              "action" : "projectile",
              "type" : "v-urchinspike",
              "fuzzAngle" : 180,
              "inheritDamageFactor" : 0.25,
              "config" : {
                "speed" : 23
              }
            },
            {
              "action" : "projectile",
              "type" : "v-urchinspike",
              "fuzzAngle" : 180,
              "inheritDamageFactor" : 0.25,
              "config" : {
                "speed" : 25
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "iceexplosionknockback"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/frozen/frozen.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.5,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frozendust2/frozendust2.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/snowballexplosion/snowballexplosion.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/boss/kluexboss_iceeruption1.ogg", "/sfx/npc/boss/kluexboss_iceeruption2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}