{
  "action": "actions",
  "list": [
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "looping" : false,
            "animation" : "/animations/gas/v-sicklygreengas.animation",
            "animationCycle" : 0.5,
            "finalVelocity" : [0, 0],
            "approach" : [20, 20],
            "size" : 1,
            "fade" : 1,
            "timeToLive" : 0.5,
            "destructionAction" : "fade",
            "destructionTime" : 0.5,
            "layer" : "front",
            "variance" : {
              "initialVelocity" : [10, 10]
            }
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [
        "/sfx/objects/egg_hatch1.ogg",
        "/sfx/objects/egg_hatch2.ogg"
      ]
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action": "option",
          "options": [
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/particles/images/v-labspawnereggshard1.png",
                "position" : [0, 0],
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, -80],
                "approach" : [0, 40],
                "destructionAction" : "fade",
                "destructionTime" : 0.85,
                "fade" : 1,
                "size" : 1,
                "layer" : "middle",
                "timeToLive" : 1.0,
                "variance" : {
                  "initialVelocity" : [10, 10],
                  "rotation" : 180
                }
              }
            },
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/particles/images/v-labspawnereggshard2.png",
                "position" : [0, 0],
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, -80],
                "approach" : [0, 40],
                "destructionAction" : "fade",
                "destructionTime" : 0.85,
                "fade" : 1,
                "size" : 1,
                "layer" : "middle",
                "timeToLive" : 1.0,
                "variance" : {
                  "initialVelocity" : [10, 10],
                  "rotation" : 180
                }
              }
            },
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/particles/images/v-labspawnereggshard3.png",
                "position" : [0, 0],
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, -80],
                "approach" : [0, 40],
                "destructionAction" : "fade",
                "destructionTime" : 0.85,
                "fade" : 1,
                "size" : 1,
                "layer" : "middle",
                "timeToLive" : 1.0,
                "variance" : {
                  "initialVelocity" : [10, 10],
                  "rotation" : 180
                }
              }
            },
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/particles/images/v-labspawnereggshard4.png",
                "position" : [0, 0],
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, -80],
                "approach" : [0, 40],
                "destructionAction" : "fade",
                "destructionTime" : 0.85,
                "fade" : 1,
                "size" : 1,
                "layer" : "middle",
                "timeToLive" : 1.0,
                "variance" : {
                  "initialVelocity" : [10, 10],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    }
  ]
}