{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.5,
      "config" : {
        "speed" : 20,
        "damageRepeatGroup" : "v-poisoncloudlineplayer"
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.5,
      "config" : {
        "speed" : 40,
        "damageRepeatGroup" : "v-poisoncloudlineplayer"
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.5,
      "config" : {
        "speed" : 60,
        "damageRepeatGroup" : "v-poisoncloudlineplayer"
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.5,
      "config" : {
        "speed" : 80,
        "damageRepeatGroup" : "v-poisoncloudlineplayer"
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.5,
      "config" : {
        "speed" : 100,
        "damageRepeatGroup" : "v-poisoncloudlineplayer"
      }
    }
  ]
}