{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.2,
      "config" : {
        "speed" : 20
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.2,
      "config" : {
        "speed" : 40
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.2,
      "config" : {
        "speed" : 60
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.2,
      "config" : {
        "speed" : 80
      }
    },
    {
      "action" : "projectile",
      "type" : "largepoisoncloud",
      "inheritDamageFactor" : 0.2,
      "config" : {
        "speed" : 100
      }
    }
  ]
}