{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/v-healingcooldownsettings/settingsheader.png",
      "fileBody" : "/interface/scripted/v-healingcooldownsettings/settingsbody.png",
      "fileFooter" : "/interface/scripted/v-healingcooldownsettings/settingsfooter.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Healing Cooldown Settings",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/v-healingcooldownsettings/settingsicon.png",
        "zlevel" : -1
      }
    },

    "lblFastCooldown" : {
      "type" : "label",
      "position" : [9, 104],
      "hAnchor" : "left",
      "value" : "Fast Healing Cooldown",
      "data" : {
        "tooltipText" : "Controls the healing cooldown for nanowraps and bandages"
      }
    },
    "sldFastCooldown" : {
      "type" : "slider",
      "position" : [116, 104],
      "gridImage" : "/interface/optionsmenu/smallselection.png",
      "range" : [0, 60, 1],
      "callback" : "updateDisplayWidget",
      "data" : {
        "displayWidget" : "dspFastCooldown"
      }
    },
    "dspFastCooldown" : {
      "type" : "label",
      "position" : [185, 104],
      "value" : "0"
    },

    "lblSlowCooldown" : {
      "type" : "label",
      "position" : [9, 89],
      "hAnchor" : "left",
      "value" : "Slow Healing Cooldown",
      "data" : {
        "tooltipText" : "Controls the healing cooldown for medkits"
      }
    },
    "sldSlowCooldown" : {
      "type" : "slider",
      "position" : [116, 89],
      "gridImage" : "/interface/optionsmenu/smallselection.png",
      "range" : [0, 60, 1],
      "callback" : "updateDisplayWidget",
      "data" : {
        "displayWidget" : "dspSlowCooldown"
      }
    },
    "dspSlowCooldown" : {
      "type" : "label",
      "position" : [185, 89],
      "value" : "0"
    },

    "lblNote" : {
      "type" : "label",
      "position" : [9, 59],
      "hAnchor" : "left",
      "color" : [107, 107, 107],
      "value" : "Due to engine limitations, these settings apply only for the current character.",
      "wrapWidth" : 176
    },

    "btnReset" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Reset",
      "position" : [9, 30]
    },

    "btnApply" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Apply",
      "position" : [82, 30]
    },

    "btnCancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "position" : [138, 30]
    },

    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [185, 124]
    }
  },

  "scriptWidgetCallbacks" : [
    "updateDisplayWidget",
    "btnReset",
    "btnApply",
    "btnCancel"
  ],

  "scripts" : ["/interface/scripted/v-healingcooldownsettings/v-healingcooldownsettings.lua"],
  "scriptDelta" : 5
}
