{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/v-missingdependency/v-missingdependencyheader.png",
      "fileBody" : "/interface/scripted/v-missingdependency/v-missingdependencybody.png",
      "fileFooter" : "/interface/scripted/v-missingdependency/v-missingdependencyfooter.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Warning",
      "subtitle" : "Voided Requires tileBroken Workaround",
      "icon" : {
        "type" : "image",
        "file" : "/interface/errorpopup/erroricon.png",
        "zlevel" : -1
      }
    },

    "message" : {
      "type" : "label",
      "position" : [9, 169],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "white",
      "value" : "It appears that you don't have ^orange;tileBroken Workaround^reset; installed. Without it, Voided ^red;may not work properly^reset;.\n\nYou can find it on the Steam Workshop at ^blue;https://steamcommunity.com/sharedfiles/filedetails/?id=3534582033^reset; or on Chucklefish Forums at ^blue;https://community.playstarbound.com/resources/tilebroken-workaround.6375/^reset;. Alternatively, you may search for \"tilebroken workaround\" on either site.\n\nAlready have tileBroken Workaround? Notify me on Discord, Steam, or Chucklefish Forums and I'll look at the problem.",
      "wrapWidth" : 316
    },
    "btnNeverShowAgain" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [100, 50]
    },
    "lblNeverShowAgain" : {
      "type" : "label",
      "position" : [111, 49],
      "hAnchor" : "left",
      "value" : "Never show this message again"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "OK",
      "position" : [140, 30]
    }
  },

  "scriptWidgetCallbacks" : [
    "btnNeverShowAgain"
  ],

  "scripts" : ["/interface/scripted/v-missingdependency/v-missingdependency.lua"],
  "scriptDelta" : 5
}
