{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "startColor" : [0, 0, 0, 0],
            "endColor" : [0, 0, 0, 63],
            "duration" : 3,
            "fullbright" : true,
            "renderLayer" : "BackgroundOverlay-256"
          },
          "onScreenOnly" : false
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "delay" : 2.99,
            "startColor" : [0, 0, 0, 63],
            "endColor" : [0, 0, 0, 0],
            "duration" : 0.25,
            "fullbright" : true,
            "renderLayer" : "BackgroundOverlay-256"
          },
          "onScreenOnly" : false
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "distantDrawable",
          "effectRadius" : 100,
          "arguments" : {
            "firstKeyFrame" : {
              "color" : [83, 29, 125, 0]
            },
            "keyFrames" : [
              {
                "time" : 3.0,
                "color" : [83, 29, 125, 63]
              },
              {
                "time" : 0.25,
                "color" : [83, 29, 125, 0]
              }
            ],
            "image" : "/scripts/rendering/v-outsidersunglow.png",
            "fullbright" : true,
            "positionedAtSun" : true
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 3.25,
        "specialEffectConfig" : {
          "kind" : "distantDrawable",
          "effectRadius" : 100,
          "arguments" : {
            "firstKeyFrame" : {
              "color" : [255, 255, 255, 255]
            },
            "keyFrames" : [
              {
                "time" : 1.0,
                "color" : [255, 255, 255, 0]
              }
            ],
            "image" : "/scripts/rendering/v-outsidersunflash.png",
            "fullbright" : true,
            "positionedAtSun" : true
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 3.25,
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "startColor" : [83, 29, 125, 255],
            "endColor" : [83, 29, 125, 0],
            "duration" : 1.0,
            "fullbright" : true,
            "renderLayer" : "BackgroundOverlay-258"
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 3.25,
        "specialEffectConfig" : {
          "kind" : "distantDrawable",
          "effectRadius" : 100,
          "arguments" : {
            "firstKeyFrame" : {
              "scale" : [0.5, 0.5],
              "color" : [83, 29, 125, 255]
            },
            "keyFrames" : [
              {
                "time" : 3.0,
                "scale" : [4, 4],
                "color" : [83, 29, 125, 0]
              }
            ],
            "image" : "/scripts/rendering/v-outsidersunshockwave.png",
            "fullbright" : true,
            "positionedAtSun" : true
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 6,
        "specialEffectConfig" : {
          "kind" : "distantDrawable",
          "effectRadius" : 100,
          "arguments" : {
            "firstKeyFrame" : {
              "zPosition" : 0,
              "scale" : [240, 0.5],
              "color" : [83, 29, 125, 0]
            },
            "keyFrames" : [
              {
                "time" : 1.5,
                "zPosition" : 0,
                "scale" : [240, 500],
                "color" : [83, 29, 125, 127],
                "interpMode" : "exp",
                "interpArgs" : [20]
              },
              {
                "time" : 0.5,
                "zPosition" : 0,
                "scale" : [240, 500],
                "color" : [83, 29, 125, 0]
              }
            ],
            "image" : "/scripts/rendering/v-outsidersunshockwavenear.png",
            "fullbright" : true,
            "positionedAtSun" : true
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 3.25,
        "specialEffectConfig" : {
          "kind" : "playSound",
          "effectRadius" : 100,
          "arguments" : {
            "sound" : "/sfx/environmental/v_outsiderstar_pulse.ogg"
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 6,
        "specialEffectConfig" : {
          "kind" : "playSound",
          "effectRadius" : 100,
          "arguments" : {
            "sound" : "/sfx/environmental/v_outsiderstar_pulsehit.ogg"
          }
        }
      }
    }
  ]
}