{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "startColor" : [0, 0, 0, 0],
            "endColor" : [0, 0, 0, 63],
            "duration" : 3,
            "fullbright" : true,
            "renderLayer" : "BackgroundOverlay-256"
          },
          "onScreenOnly" : false
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "delay" : 2.99,
            "startColor" : [0, 0, 0, 63],
            "endColor" : [0, 0, 0, 0],
            "duration" : 0.25,
            "fullbright" : true,
            "renderLayer" : "BackgroundOverlay-256"
          },
          "onScreenOnly" : false
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 3.25,
        "specialEffectConfig" : {
          "kind" : "distantDrawable",
          "effectRadius" : 100,
          "arguments" : {
            "firstKeyFrame" : {
              "screenPosition" : [0.5, 1.2],
              "zPosition" : 0,
              "color" : [255, 255, 255, 255]
            },
            "keyFrames" : [
              {
                "time" : 0.33,
                "screenPosition" : [0.5, 1.2],
                "zPosition" : 0,
                "color" : [255, 255, 255, 0]
              }
            ],
            "image" : "/scripts/rendering/v-outsidersunflash.png",
            "fullbright" : true
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 3.25,
        "specialEffectConfig" : {
          "kind" : "distantDrawable",
          "effectRadius" : 100,
          "arguments" : {
            "firstKeyFrame" : {
              "screenPosition" : [0.5, 1.2],
              "zPosition" : 0,
              "scale" : [100, 100],
              "color" : [255, 255, 255, 255]
            },
            "keyFrames" : [
              {
                "time" : 0.33,
                "screenPosition" : [0.5, 1.2],
                "zPosition" : 0,
                "scale" : [100, 100],
                "color" : [255, 255, 255, 0]
              }
            ],
            "image" : "/assetmissing.png?replace;00000000=ffffff",
            "fullbright" : true
          }
        }
      }
    },
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "timeToLive" : 3.25,
        "specialEffectConfig" : {
          "kind" : "distantDrawable",
          "effectRadius" : 100,
          "arguments" : {
            "firstKeyFrame" : {
              "screenPosition" : [0.5, 1.2],
              "zPosition" : 0,
              "scale" : [0.5, 0.5],
              "color" : [255, 255, 255, 255]
            },
            "keyFrames" : [
              {
                "time" : 1.5,
                "screenPosition" : [0.5, 1.2],
                "zPosition" : 0,
                "scale" : [2, 2],
                "color" : [255, 255, 255, 0]
              }
            ],
            "image" : "/scripts/rendering/v-outsidersunshockwave.png",
            "fullbright" : true
          }
        }
      }
    }
  ]
}