{
  "action" : "loop",
  "count" : 8,
  "body" : [
    {
      "action" : "option",
      "options" : [
        {
          "action" : "projectile",
          "type" : "v-purplepoisoncloud",
          "fuzzAngle" : 90,
          "angle" : 90,
          "inheritDamageFactor" : 0.0,
          "config" : {
            "speed" : 10
          }
        },
        {
          "action" : "projectile",
          "type" : "v-purplepoisoncloud",
          "fuzzAngle" : 90,
          "angle" : 90,
          "inheritDamageFactor" : 0.0,
          "config" : {
            "speed" : 15
          }
        },
        {
          "action" : "projectile",
          "type" : "v-purplepoisoncloud",
          "fuzzAngle" : 90,
          "angle" : 90,
          "inheritDamageFactor" : 0.0,
          "config" : {
            "speed" : 20
          }
        },
        {
          "action" : "projectile",
          "type" : "v-purplepoisoncloud",
          "fuzzAngle" : 90,
          "angle" : 90,
          "inheritDamageFactor" : 0.0,
          "config" : {
            "speed" : 25
          }
        },
        {
          "action" : "projectile",
          "type" : "v-purplepoisoncloud",
          "fuzzAngle" : 90,
          "angle" : 90,
          "inheritDamageFactor" : 0.0,
          "config" : {
            "speed" : 30
          }
        }
      ]
    }
  ]
}