{
  "action" : "actions",
  "list": [
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 45,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 10
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 45,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 15
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 45,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 20
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 45,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 25
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 4,
      "body": [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : 67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 20
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : 67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 30
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : 67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 40
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : 67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 50
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : -67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 20
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : -67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 30
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : -67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 40
              }
            },
            {
              "action" : "projectile",
              "type" : "v-purplepoisoncloud",
              "fuzzAngle" : 22.5,
              "angleAdjust" : -67.5,
              "inheritDamageFactor" : 0.0,
              "config" : {
                "speed" : 50
              }
            }
          ]
        }
      ]
    }
  ]
}