{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 2.5,
      "type" : "v-prismaticexplosionlarge"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/v_prismaticexplosion1.ogg", "/sfx/projectiles/v_prismaticexplosion2.ogg", "/sfx/projectiles/v_prismaticexplosion3.ogg" ]
    },
    {
      "action" : "particle",
      "specification" : "v-auroritedazzlingexplosion"
    },
    {
      "action" : "loop",
      "count" : 14,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/frozen/frozen.animation",
                "approach" : [1, 1],
                "size" : 1,
                "timeToLive" : 0.5,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [4, 4],
                  "initialVelocity" : [2, 2],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 14,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frozendust2/frozendust2.animation",
                "approach" : [1, 1],
                "timeToLive" : 2.0,
                "size" : 1,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [4, 4],
                  "initialVelocity" : [2, 2],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 14,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/snowballexplosion/snowballexplosion.animation",
                "approach" : [1, 1],
                "timeToLive" : 2.0,
                "size" : 1,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [4, 4],
                  "initialVelocity" : [2, 2],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 9,
      "backgroundRadius" : 6,
      "explosiveDamageAmount" : 1.0,
      "delaySteps" : 2
    }
  ]
}
