{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/v-terralibwarning/v-terralibwarningheader.png",
      "fileBody" : "/interface/scripted/v-terralibwarning/v-terralibwarningbody.png",
      "fileFooter" : "/interface/scripted/v-terralibwarning/v-terralibwarningfooter.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Notice",
      "subtitle" : "Voided Requires Quickbar",
      "icon" : {
        "type" : "image",
        "file" : "/interface/errorpopup/questhover.png",
        "zlevel" : -1
      }
    },

    "message" : {
      "type" : "label",
      "position" : [9, 169],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "white",
      "value" : "It appears that you don't have a ^orange;Quickbar^reset; mod installed. Voided adds a couple of windows accessible only through the Quickbar.\n\nAs multiple of these exist, I recommend that you search for \"quickbar\" on either the Steam Workshop or Chucklefish Forums and install the mod of your choice.\n\nAlready have a Quickbar mod? Notify me on Discord, Steam, or Chucklefish Forums and I'll look at the problem.",
      "wrapWidth" : 316
    },
    "btnNeverShowAgain" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [100, 50]
    },
    "lblNeverShowAgain" : {
      "type" : "label",
      "position" : [111, 49],
      "hAnchor" : "left",
      "value" : "Never show this message again"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "OK",
      "position" : [140, 30]
    }
  },

  "scriptWidgetCallbacks" : [
    "btnNeverShowAgain"
  ],

  "scripts" : ["/interface/scripted/v-terralibwarning/v-terralibwarning.lua"],
  "scriptDelta" : 5
}
