{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "v-darkexplosionlarge"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/v_darkexplosion1.ogg", "/sfx/projectiles/v_darkexplosion2.ogg", "/sfx/projectiles/v_darkexplosion3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
