{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "v-specialeffectsinvoker",
      "config" : {
        "specialEffectConfig" : {
          "kind" : "screenFlash",
          "effectRadius" : 100,
          "arguments" : {
            "startColor" : [196, 196, 245, 63],
            "endColor" : [74, 74, 181, 0],
            "duration" : 0.25,
            "renderLayer" : "BackgroundOverlay-10",
            "fullbright" : true
          },
          "onScreenOnly" : false
        }
      }
    },
    {
      "action" : "option",
      "options" : [
        {
          "action" : "projectile",
          "type" : "v-thunder",
          "config" : {
            "timeToLive" : 5.0
          }
        },
        {
          "action" : "projectile",
          "type" : "v-thunder",
          "config" : {
            "timeToLive" : 10.0
          }
        },
        {
          "action" : "projectile",
          "type" : "v-thunder",
          "config" : {
            "timeToLive" : 15.0
          }
        }
      ]
    }
  ]
}
