{
  "dismissable" : false,
  "paneLayer" : "hud",

  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/v-riftzonedetector/header.png",
      "fileBody" : "/interface/scripted/v-riftzonedetector/background.png"
    },
    "screenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 1, 100, 100],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [85, 110]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Site Analysis",
      "subtitle" : "^#b9b5b2; See where you're going",
      "position" : [74, 402],
      "icon" : {
        "type" : "image",
        "file" : "/interface/cockpit/cockpit.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },

  "canvasClickCallbacks" : {
    "screenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "screenCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
    "teleportToDestination"
  ],

  "scripts" : [ "/interface/scripted/v-riftzonedetector/v-riftzonedetector.lua" ],
  "scriptDelta" : 1,

  "renderSettings" : {

  }
}
