{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/v-ministarrenderconfig/renderconfigheader.png",
      "fileBody" : "/interface/scripted/v-ministarrenderconfig/renderconfigbody.png",
      "fileFooter" : "/interface/scripted/v-ministarrenderconfig/renderconfigfooter.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Ministar Graphical Settings",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/v-ministarrenderconfig/renderconfigicon.png",
        "zlevel" : -1
      }
    },

    "lblAmbientLight" : {
      "type" : "label",
      "position" : [9, 169],
      "hAnchor" : "left",
      "value" : "Ambient Lights",
      "data" : {
        "tooltipText" : "Whether to render ambient lighting from Ministar rays."
      }
    },
    "btnAmbientLight" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [185, 169]
    },

    "lblAmbientLightPrecision" : {
      "type" : "label",
      "position" : [9, 154],
      "hAnchor" : "left",
      "value" : "Ambient Light Precision",
      "data" : {
        "tooltipText" : "Controls how accurately to render light emitted by Ministar rays. Lower precision is faster but looks worse."
      }
    },
    "ambientLightPrecision" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [9, 144],
          "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
          "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
        },
        {
          "position" : [9, 134],
          "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
          "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
        },
        {
          "position" : [9, 124],
          "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
          "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
        },
        {
          "position" : [9, 114],
          "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
          "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
        },
        {
          "position" : [9, 104],
          "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
          "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
        }
      ]
    },
    "lblAmbientLightPrecision1" : {
      "type" : "label",
      "position" : [19, 144],
      "hAnchor" : "left",
      "value" : "Very High"
    },
    "lblAmbientLightPrecision2" : {
      "type" : "label",
      "position" : [19, 134],
      "hAnchor" : "left",
      "value" : "High"
    },
    "lblAmbientLightPrecision3" : {
      "type" : "label",
      "position" : [19, 124],
      "hAnchor" : "left",
      "value" : "Medium"
    },
    "lblAmbientLightPrecision4" : {
      "type" : "label",
      "position" : [19, 114],
      "hAnchor" : "left",
      "value" : "Low"
    },
    "lblAmbientLightPrecision5" : {
      "type" : "label",
      "position" : [19, 104],
      "hAnchor" : "left",
      "value" : "Very Low"
    },

    "lblPrettyRays" : {
      "type" : "label",
      "position" : [9, 89],
      "hAnchor" : "left",
      "value" : "Pretty Effects",
      "data" : {
        "tooltipText" : "Turn this off to use simpler rendering for the Ministar rays and block heating effects."
      }
    },
    "btnPrettyRays" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [185, 89]
    },

    "lblNote" : {
      "type" : "label",
      "position" : [9, 59],
      "hAnchor" : "left",
      "color" : [107, 107, 107],
      "value" : "Due to engine limitations, these settings apply only for the current character.",
      "wrapWidth" : 176
    },

    "btnApply" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Apply",
      "position" : [82, 30]
    },

    "btnCancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "position" : [138, 30]
    },

    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [185, 189]
    }
  },

  "scriptWidgetCallbacks" : [
    "btnAmbientLight",
    "ambientLightPrecision",
    "btnPrettyRays",
    "btnApply",
    "btnCancel"
  ],

  "scripts" : ["/interface/scripted/v-ministarrenderconfig/v-ministarrenderconfig.lua"],
  "scriptDelta" : 5
}
