{
  // Vanilla
  "water" : "ice",
  "lava" : "flamethrower",
  "poison" : "acid",
  "slimeliquid" : "poison",
  "jellyliquid" : "poison",
  "swampwater" : "poison",

  // Extended Story
  "abyss" : "abyss",
  "liquidfog" : "abyss",
  "liquidfabric" : "abyss",
  "liquidnitrogenexpansionmod" : "ice",
  "supervoid" : "abyss",
  "rottenwater" : "poison",
  "superheatedlava" : "flamethrower",

  // Voided
  "v-electricity" : "electric",
  "v-superpoison" : "poison",
  "v-sun" : "flamethrower",
  "v-liquidnitrogen" : "ice"
}