{
  // Vanilla
  "water" : {
    "damageKind" : "ice",
    "useLiquidStatusEffects" : true
  },
  "lava" : {
    "damageKind" : "flamethrower",
    "statusEffects" : ["burning"]
  },
  "poison" : {
    "damageKind" : "acid",
    "useLiquidStatusEffects" : true
  },
  "slimeliquid" : {
    "damageKind" : "poison",
    "useLiquidStatusEffects" : true
  },
  "jellyliquid" : {
    "damageKind" : "poison",
    "useLiquidStatusEffects" : true
  },
  "swampwater" : {
    "damageKind" : "poison",
    "useLiquidStatusEffects" : true
  },

  // Extended Story
  "abyss" : {
    "damageKind" : "abyss",
    "useLiquidStatusEffects" : true
  },
  "liquidfog" : {
    "damageKind" : "abyss",
    "useLiquidStatusEffects" : true
  },
  "liquidfabric" : {
    "damageKind" : "abyss",
    "useLiquidStatusEffects" : true
  },
  "liquidnitrogenexpansionmod" : {
    "damageKind" : "ice",
    "useLiquidStatusEffects" : true
  },
  "supervoid" : {
    "damageKind" : "abyss",
    "useLiquidStatusEffects" : true
  },
  "rottenwater" : {
    "damageKind" : "acid",
    "useLiquidStatusEffects" : true
  },
  "superheatedlava" : {
    "damageKind" : "fire",
    "statusEffects" : ["burning"]
  },

  // Voided
  "v-electricity" : {
    "damageKind" : "electric",
    "useLiquidStatusEffects" : true
  },
  "v-superpoison" : {
    "damageKind" : "poison",
    "useLiquidStatusEffects" : true
  },
  "v-sun" : {
    "damageKind" : "fire",
    "statusEffects" : ["burning"]
  },
  "v-liquidnitrogen" : {
    "damageKind" : "ice",
    "useLiquidStatusEffects" : true
  }
}