{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "v-teslariflealt2",
      "inheritDamageFactor" : 1,
      "inheritSpeedFactor" : 1
    },
    {
      "action" : "config",
      "file" : "/projectiles/explosions/regularexplosion2/electricexplosionknockback.config"
    }
  ]
}