{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "projectile",
          "inheritDamageFactor" : 0,
          "type" : "v-solarflareflashbang",
          "fuzzAngle" : 180
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/firework_explode1.ogg" ]
    }
  ]
}
