{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 0
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 22.5
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 45
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 67.5
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 90
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 112.5
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 135
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 157.5
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 180
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 202.5
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 225
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 247.5
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 270
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 292.5
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 315
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-solarflareflashbang",
      "angle" : 337.5
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "textured",
        "image" : "/particles/images/v-solarflareflashbang.png",
        "fullbright" : false,
        "layer" : "front",
        "timeToLive" : 0,
        "destructionAction" : "fade",
        "destructionTime" : 1
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/firework_explode1.ogg" ]
    }
  ]
}
