{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/ancientconsole/v-overheatedheader.png",
      "fileBody" : "/interface/scripted/ancientconsole/v-overheatedbody.png",
      "fileFooter" : "/interface/scripted/ancientconsole/v-overheatedfooter.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Ancient Gate Console",
      "subtitle" : "DANGER: OVERHEATED",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/ancientconsole/coreicon.png",
        "zlevel" : -1
      }
    },
    "activateButton" : {
      "type" : "button",
      "position" : [45, 30],
      "base" : "/interface/scripted/ancientconsole/v-cooldown.png:active",
      "hover" : "/interface/scripted/ancientconsole/v-cooldown.png:inactive",
      "pressed" : "/interface/scripted/ancientconsole/v-cooldown.png:active",
      "disabledImage" : "/interface/scripted/ancientconsole/v-cooldown.png:disabled",
      "pressedOffset" : [0, 0],
      "callback" : "cooldown"
    },

    "costDescription" : {
      "type" : "label",
      "position" : [96, 68],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "red",
      "value" : "REQUIRED COOLANT"
    },
    "costLabel" : {
      "type" : "label",
      "position" : [96, 59],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "0 / --"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 100]
    }
  },

  "scriptWidgetCallbacks" : [
    "cooldown"
  ],

  "scripts" : ["/interface/scripted/ancientconsole/v-overheatedconsolegui.lua"],
  "scriptDelta" : 30,

  "activateItem" : "cryonicextract",
  "requiredCount" : 3
}
