{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "v-proxyprojectile",
      "config" : {
        "actionOnReap" : [
          {
            "action" : "config",
            "file" : "/projectiles/explosions/v-gravwarpsingularityexplosion/v-gravwarpsingularityexplosion.config"
          }
        ]
      }
    }
  ]
}
