{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "projectile",
          "type" : "v-oil",
          "fuzzAngle" : 180
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/tar_hit_organic1.ogg", "/sfx/projectiles/tar_hit_organic2.ogg",
      "/sfx/projectiles/tar_hit_organic3.ogg", "/sfx/projectiles/tar_hit_organic4.ogg",
      "/sfx/projectiles/tar_hit_organic5.ogg" ]
    }
  ]
}