{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/v-settings/settingsheader.png",
      "fileBody" : "/interface/scripted/v-settings/settingsbody.png",
      "fileFooter" : "/interface/scripted/v-settings/settingsfooter.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Voided Settings",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/v-settings/settingsicon.png",
        "zlevel" : -1
      }
    },

    "mechanics" : {
      "type" : "layout",
      "layoutType" : "basic",
      "size" : [300, 300],
      "position" : [22, 153],
      "children" : {
        "lblFastCooldown" : {
          "type" : "label",
          "position" : [9, 30],
          "hAnchor" : "left",
          "value" : "Fast Healing Cooldown",
          "data" : {
            "tooltipText" : "Controls the healing cooldown for nanowraps and bandages"
          }
        },
        "sldFastCooldown" : {
          "type" : "slider",
          "position" : [116, 30],
          "gridImage" : "/interface/optionsmenu/smallselection.png",
          "range" : [0, 60, 1],
          "callback" : "updateDisplayWidget",
          "data" : {
            "ownPath" : "mechanics.sldFastCooldown",
            "displayWidget" : "mechanics.dspFastCooldown",
            "managerGroup" : "mechanics"
          }
        },
        "dspFastCooldown" : {
          "type" : "label",
          "position" : [185, 30],
          "value" : "0"
        },

        "lblSlowCooldown" : {
          "type" : "label",
          "position" : [9, 15],
          "hAnchor" : "left",
          "value" : "Slow Healing Cooldown",
          "data" : {
            "tooltipText" : "Controls the healing cooldown for medkits"
          }
        },
        "sldSlowCooldown" : {
          "type" : "slider",
          "position" : [116, 15],
          "gridImage" : "/interface/optionsmenu/smallselection.png",
          "range" : [0, 60, 1],
          "callback" : "updateDisplayWidget",
          "data" : {
            "ownPath" : "mechanics.sldSlowCooldown",
            "displayWidget" : "mechanics.dspSlowCooldown",
            "managerGroup" : "mechanics"
          }
        },
        "dspSlowCooldown" : {
          "type" : "label",
          "position" : [185, 15],
          "value" : "0"
        },
        "lblUseSpecial2ForAimableDash" : {
          "type" : "label",
          "position" : [9, 0],
          "hAnchor" : "left",
          "value" : "Use ^blue;[Special 2]^reset; Dashing",
          "data" : {
            "tooltipText" : "Whether or not to use ^blue;[Special 2]^reset; for aimable dash techs"
          }
        },
        "btnUseSpecial2ForAimableDash" : {
          "type" : "button",
          "base" : "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
          "checkable" : true,
          "checked" : false,
          "position" : [185, 0]
        }
      }
    },

    "ministarRendering" : {
      "type" : "layout",
      "layoutType" : "basic",
      "size" : [300, 300],
      "position" : [22, 89],
      "children" : {
        "lblAmbientLight" : {
          "type" : "label",
          "position" : [9, 94],
          "hAnchor" : "left",
          "value" : "Ambient Lights",
          "data" : {
            "tooltipText" : "Whether to render ambient lighting from Ministar rays."
          }
        },
        "btnAmbientLight" : {
          "type" : "button",
          "base" : "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
          "checkable" : true,
          "checked" : false,
          "position" : [185, 94]
        },

        "lblAmbientLightPrecision" : {
          "type" : "label",
          "position" : [9, 79],
          "hAnchor" : "left",
          "value" : "Ambient Light Precision",
          "data" : {
            "tooltipText" : "Controls how accurately to render light emitted by Ministar rays. Lower precision is faster but looks worse."
          }
        },
        "ambientLightPrecision" : {
          "type" : "radioGroup",
          "toggleMode" : false,
          "buttons" : [
            {
              "selected" : true,
              "position" : [9, 69],
              "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
              "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
            },
            {
              "position" : [9, 59],
              "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
              "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
            },
            {
              "position" : [9, 49],
              "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
              "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
            },
            {
              "position" : [9, 39],
              "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
              "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
            },
            {
              "position" : [9, 29],
              "baseImage" : "/interface/scripted/v-ministarrenderconfig/radionocheck.png",
              "baseImageChecked" : "/interface/scripted/v-ministarrenderconfig/radiocheck.png"
            }
          ]
        },
        "lblAmbientLightPrecision1" : {
          "type" : "label",
          "position" : [19, 69],
          "hAnchor" : "left",
          "value" : "Very High"
        },
        "lblAmbientLightPrecision2" : {
          "type" : "label",
          "position" : [19, 59],
          "hAnchor" : "left",
          "value" : "High"
        },
        "lblAmbientLightPrecision3" : {
          "type" : "label",
          "position" : [19, 49],
          "hAnchor" : "left",
          "value" : "Medium"
        },
        "lblAmbientLightPrecision4" : {
          "type" : "label",
          "position" : [19, 39],
          "hAnchor" : "left",
          "value" : "Low"
        },
        "lblAmbientLightPrecision5" : {
          "type" : "label",
          "position" : [19, 29],
          "hAnchor" : "left",
          "value" : "Very Low"
        },

        "lblPrettyRays" : {
          "type" : "label",
          "position" : [9, 14],
          "hAnchor" : "left",
          "value" : "Pretty Effects",
          "data" : {
            "tooltipText" : "Turn this off to use simpler rendering for the Ministar rays and block heating effects."
          }
        },
        "btnPrettyRays" : {
          "type" : "button",
          "base" : "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
          "checkable" : true,
          "checked" : false,
          "position" : [185, 14]
        },

        "lblLiquidParticles" : {
          "type" : "label",
          "position" : [9, 0],
          "hAnchor" : "left",
          "value" : "Plasma Particles",
          "data" : {
            "tooltipText" : "Controls the spawning of particles in solar plasma."
          }
        },
        "btnLiquidParticles" : {
          "type" : "button",
          "base" : "/interface/crafting/checkboxnocheck.png",
          "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
          "checkable" : true,
          "checked" : false,
          "position" : [185, 0]
        }
      }
    },

    "lblNote" : {
      "type" : "label",
      "position" : [9, 59],
      "hAnchor" : "left",
      "color" : [107, 107, 107],
      "value" : "Due to engine limitations, these settings apply only for the current character.",
      "wrapWidth" : 202
    },

    "btnReset" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Reset",
      "position" : [9, 30]
    },

    "btnApply" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Apply",
      "position" : [106, 30]
    },

    "btnCancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "position" : [162, 30]
    },

    "tabMinistarRenderingImage" : {
      "type" : "image",
      "file" : "/interface/scripted/v-settings/tabicons/ministarrendering.png",
      "position" : [4, 173],
      "zlevel" : 1,
      "mouseTransparent" : true
    },

    "tabMechanicsImage" : {
      "type" : "image",
      "file" : "/interface/scripted/v-settings/tabicons/mechanics.png",
      "position" : [4, 151],
      "zlevel" : 1,
      "mouseTransparent" : true
    },

    "tabsGroup" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "baseImage" : "/interface/scripted/v-settings/settingstab.png:deselected",
          "hoverImage" : "/interface/scripted/v-settings/settingstab.png:hover",
          "baseImageChecked" : "/interface/scripted/v-settings/settingstab.png:selected",
          "hoverImageChecked" : "/interface/scripted/v-settings/settingstab.png:selected",
          "pressedOffset" : [0, 0],
          "position" : [4, 173],
          "data" : {
            "selectLayout" : "ministarRendering",
            "tooltipText" : "Ministar Rendering"
          }
        },
        {
          "baseImage" : "/interface/scripted/v-settings/settingstab.png:deselected",
          "hoverImage" : "/interface/scripted/v-settings/settingstab.png:hover",
          "baseImageChecked" : "/interface/scripted/v-settings/settingstab.png:selected",
          "hoverImageChecked" : "/interface/scripted/v-settings/settingstab.png:selected",
          "pressedOffset" : [0, 0],
          "position" : [4, 151],
          "data" : {
            "selectLayout" : "mechanics",
            "tooltipText" : "Mechanics"
          }
        }
      ]
    },

    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [209, 203]
    }
  },

  "scriptWidgetCallbacks" : [
    "btnAmbientLight",
    "ambientLightPrecision",
    "btnPrettyRays",
    "btnLiquidParticles",
    "updateDisplayWidget",
    "btnUseSpecial2ForAimableDash",
    "btnReset",
    "btnApply",
    "btnCancel",
    "tabsGroup"
  ],

  "layouts" : [
    "ministarRendering",
    "mechanics"
  ],

  "scripts" : ["/interface/scripted/v-settings/v-settings.lua"],
  "scriptDelta" : 5
}
