{
  "shimmerValues" : [
    {
      "minChangeRate" : 1.5,
      "shimmerTime" : 2
    },
    {
      "minChangeRate" : 10,
      "shimmerTime" : 1.0
    },
    {
      "minChangeRate" : 50,
      "shimmerTime" : 0.5
    }
  ],
  "shimmerHideTime" : 0.5,
  "preFreezeMovementModifiers" : { },
  "freezeMovementModifiers" : {
    "movementSuppressed" : true,
    "jumpingSuppressed" : true
  },
  "freezeDuration" : 2.0,
  "freezeDamage" : 60
}