{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "v-thornburst"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/v_thorns_break1.ogg", "/sfx/projectiles/v_thorns_break2.ogg",
      "/sfx/projectiles/v_thorns_break3.ogg", "/sfx/projectiles/v_thorns_break4.ogg",
      "/sfx/projectiles/v_thorns_break5.ogg", "/sfx/projectiles/v_thorns_break6.ogg" ]
    }
  ]
}
